.containerPrincipal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 12vh;
}
.containerForm{
    display: flex;
    gap: 20px;
    background-color: rgb(255, 255, 255);
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 50px;
    height: 10vh;
    position: fixed;
    top: 0;
}
.button{
    width: 220px;
    height: 30px;
    font-size: 17px;
}